.container {
  background-color: var(--neutral-lightest);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container__header {
  padding: 26px 32px;
  border-bottom: 1px solid #e0e0e0;
  background-color: var(--grey-white);
}

.container__header__text {
  font-size: 24px;
  font-weight: bold;
}

.container__body {
  padding: 32px;
  display: flex;
  flex: 1;
  overflow: auto;
  flex-direction: column;
  gap: 28px;
}

.container__body__content {
  padding: 26px 32px;
  background-color: var(--grey-white);
  border-radius: 8px;
  flex-grow: 1;
  overflow: auto;
  box-shadow: 2px 2px 10px var(--grey-grey13);
}

.container__body__footer {
  display: flex;
  justify-content: flex-end;
}

.container__body__footer__button {
  padding: 12px 24px;
  background-color: var(--purple-dark);
  color: var(--grey-white);
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.container__body__footer__button:hover {
  background-color: var(--purple-darkest);
}
